<!DOCTYPE html>
<html>
<head>
	<!-- Bringing in external stylesheets -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./css/profile.css">
	<!-- Bringing in external scripts -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
	<script type="text/javascript" src="./js/all.js"></script>
</head>
<div class="container-fluid">
	<div id="flipkart-navbar">
    <div class="container">
        <div class="row row1">
            <ul class="largenav pull-right">
                <li class="upper-links"><a class="links" href="#">Breakfast</a></li>
                <li class="upper-links"><a class="links" href="#">Lunch</a></li>
                <li class="upper-links"><a class="links" href="#">Dinner</a></li>
                <li class="upper-links"><a class="links" href="#">Dessert</a></li>
                <li class="upper-links"><a class="links" href="#">Healthy</a></li>
                <li class="upper-links"><a class="links" href="#">Events</a></li>
                <li class="upper-links">
                    <a class="links" href="#">
                        <svg class="" width="16px" height="15px" style="overflow: visible;">
                            <path d="M8.037 17.546c1.487 0 2.417-.93 2.417-2.417H5.62c0 1.486.93 2.415 2.417 2.415m5.315-6.463v-2.97h-.005c-.044-3.266-1.67-5.46-4.337-5.98v-.81C9.01.622 8.436.05 7.735.05 7.033.05 6.46.624 6.46 1.325v.808c-2.667.52-4.294 2.716-4.338 5.98h-.005v2.972l-1.843 1.42v1.376h14.92v-1.375l-1.842-1.42z" fill="#fff"></path>
                        </svg>
                    </a>
                </li>
                <li class="upper-links dropdown"><a class="links" href="http://clashhacks.in/"><i class="fa fa-user"></i></a>
                    <ul class="dropdown-menu">
                        <li class="profile-li"><a class="profile-links" href="#">Log out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="row row2">
            <div class="col-sm-2">
                <h2 style="margin:0px;"><span class="smallnav menu" onclick="openNav()" style="color: pink">☰ More~Recipes</span></h2>
                <h1 style="margin:0px;"><span class="largenav" style="color: pink">More~recipes</span></h1>
            </div>
            <div class="flipkart-navbar-search smallsearch col-sm-8 col-xs-11">
                <div class="row">
                    <input class="flipkart-navbar-input col-xs-11" type="" placeholder="Discover Great Recipes" name="">
                    <button class="btn flipkart-navbar-button col-xs-1 searchbtn">
                        <i class='fa fa-search'></i>
                    </button>
                </div>
            </div>
               
            </div>
        </div>
    </div>
</div>
<div id="mySidenav" class="sidenav">
    <div class="container" style="background-color: pink; padding-top: 10px;">
        <span class="sidenav-heading">Categories</span>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    </div>
    <a href="#" class="sidenav-links">Breakfast</a>
    <a href="#" class="sidenav-links">Lunch</a>
    <a href="#" class="sidenav-links">Dinner</a>
    <a href="#" class="sidenav-links">Dessert</a>
    <a href="#" class="sidenav-links">Healthy</a>
    <a href="#" class="sidenav-links">Events</a>
    <li class="upper-links dropdown"><a class="links" href="http://clashhacks.in/"><i class="fa fa-user"></i></a>
        <ul class="dropdown-menu">
            <li class="profile-li"><a class="profile-links" href="#">Logout</a></li>
        </ul>
    </li>
</div>

<div class="container">
    <div class="row user-menu-container square">
        <div class="col-md-7 user-details">
            <div class="row coralbg white">
                <div class="col-md-6 no-pad">
                    <div class="user-pad">
                        <h3>Efosa Okpugie</h3>
                        <h4 class="white"><i class="fa fa-check-circle-o"></i> San Antonio, TX</h4>
                        <h4 class="white"><i class="fa fa-twitter"></i> CoolesOCool</h4>
                        <button type="button" class="btn btn-labeled btn-info" href="#">
                            <span class="btn-label"><i class="fa fa-pencil"></i></span>Update</button>
                    </div>
                </div>
                <div class="col-md-6 no-pad">
                    <div class="user-image">
                        <img src="" class="img-responsive thumbnail">
                    </div>
                </div>
            </div>
            <div class="row overview">
                <div class="col-md-4 user-pad text-center">
                    <h3>RECIPES POSTED</h3>
                    <h4>2,784</h4>
                </div>
                <div class="col-md-4 user-pad text-center">
                    <h3>FAVORITES</h3>
                    <h4>456</h4>
                </div>
                <div class="col-md-4 user-pad text-center">
                    <h3>MENTIONS</h3>
                    <h4>4,901</h4>
                </div>
            </div>
        </div>
        <div class="col-md-1 user-menu-btns">
            <div class="btn-group-vertical square" id="responsive">
                <a href="#" class="btn btn-block btn-default active">
                  <i class="fa fa-bell-o fa-3x"></i>
                </a>
                <a href="#" class="btn btn-default">
                  <i class="fa fa-envelope-o fa-3x"></i>
                </a>
                <a href="#" class="btn btn-default">
                  <i class="fa fa-heart fa-3x"></i>
                </a>
                <a href="#" class="btn btn-default">
                  <i class="fa fa-cloud-upload fa-3x"></i>
                </a>
            </div>
        </div>
        <div class="col-md-4 user-menu user-pad">
            <div class="user-menu-content active">
                <h3>
                    Recent Activities
                </h3>
                <ul class="user-menu-list">
                    <li>
                        <h4>Roselynn Smith reviewed your recipe,see <a href="">what she said</a></h4>
                    </li>
                    <li>
                        <h4>Jonathan Hawkins upvoted your recipe</h4>
                    </li>
                    <li>
                        <h4></i>Gracie Jenkins downvoted your recipe, see <a href="">review</a></h4>
                    </li>
                    <li>
                        <button type="button" class="btn btn-labeled btn-success" href="#">
                            <span class="btn-label"><i class="fa fa-bell-o"></i></span>View all activity</button>
                    </li>
                </ul>
            </div>
            <div class="user-menu-content">
                <h3>
                    Your Inbox
                </h3>
                <ul class="user-menu-list">
                    <li>
                        <h4>From Roselyn Smith <small class="coral"><strong>NEW</strong> <i class="fa fa-clock-o"></i> 7:42 A.M.</small></h4>
                    </li>
                    <li>
                        <h4>From Jonathan Hawkins <small class="coral"><i class="fa fa-clock-o"></i> 10:42 A.M.</small></h4>
                    </li>
                    <li>
                        <h4>From Georgia Jennings <small class="coral"><i class="fa fa-clock-o"></i> 10:42 A.M.</small></h4>
                    </li>
                    <li>
                        <button type="button" class="btn btn-labeled btn-danger" href="#">
                            <span class="btn-label"><i class="fa fa-envelope-o"></i></span>View All Messages</button>
                    </li>
                </ul>
            </div>
            <div class="user-menu-content">
                <h3>
                    Favorite- Recipes
                </h3>
                <div class="row">
                </div>
            </div>
            <div class="user-menu-content">
                <h2 class="text-center">
                    START SHARING
                </h2>
                <center><i class="fa fa-cloud-upload fa-4x"></i></center>
                <div class="share-links">
                    <center><button type="button" class="btn btn-lg btn-labeled btn-success" href="#" style="margin-bottom: 15px;">
                            <span class="btn-label"><i class="fa fa-upload"></i></span>POST A RECIPE
                    </button></center>
                    <center><button type="button" class="btn btn-lg btn-labeled btn-warning" href="#">
                            <span class="btn-label"><i class="fa fa-pen"></i></span>MODIFY A RECIPE
                    </button></center>
                    <center><button type="button" class="btn btn-lg btn-labeled btn-warning" href="#">
                            <span class="btn-label"><i class="fa fa-delete"></i></span>DELETE A RECIPE
                    </button></center>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
	<div class='search'>
		<div class="flipkart-navbar-search smallsearch">
                <div class="row">
                    <input class="flipkart-navbar-input footer-search" type="" placeholder="Discover More Recipes" name="">
                    <button class="btn flipkart-navbar-button searchbtn searchbtn-footer">
                        <i class='fa fa-search'></i>
                    </button>
                </div>
            </div>
	</div>
	
	<div class="row footer-one">
		<a href="#"><div class="col-xs-4 social-media-icons fa fa-twitter"></div></a>
		<a href="#"><div class="col-xs-4 social-media-icons fa fa-facebook"></div></a>
		<a href="#"><div class="col-xs-4 social-media-icons fa fa-google"></div></a>
		<a href="#"><div class="col-xs-4 social-media-icons fa fa-pinterest"></div></a>
		<a href="#"><div class="col-xs-4 social-media-icons fa fa-linkedin"></div></a>
	</div>

	<div class="copyright-text"><p class="text-center">All rights reserved &copy; More-recipes 2017.</p></div>

</div>
<script type="text/javascript">
	const openNav = () => {
    document.getElementById("mySidenav").style.width = "70%";
    // document.getElementById("flipkart-navbar").style.width = "50%";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
	}

    const closeNav = () => {
    document.getElementById("mySidenav").style.width = "0";
    document.body.style.backgroundColor = "rgba(0,0,0,0)";
	}
</script>
</div>
</html>