<!DOCTYPE html>
<html>
<head>
	<!-- Bringing in external stylesheets -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./Templates/css/homepage.css">
	<!-- Bringing in external scripts -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</head>

<body>
<div class="container-fluid">
<div id="flipkart-navbar">
    <div class="container">
        <div class="row row1">
            <ul class="largenav pull-right">
                <li class="upper-links"><a class="links" href="#">Breakfast</a></li>
                <li class="upper-links"><a class="links" href="#">Lunch</a></li>
                <li class="upper-links"><a class="links" href="#">Dinner</a></li>
                <li class="upper-links"><a class="links" href="#">Dessert</a></li>
                <li class="upper-links"><a class="links" href="#">Healthy</a></li>
                <li class="upper-links"><a class="links" href="#">Events</a></li>
                <li class="upper-links">
                    <a class="links" href="#">
                        <svg class="" width="16px" height="15px" style="overflow: visible;">
                            <path d="M8.037 17.546c1.487 0 2.417-.93 2.417-2.417H5.62c0 1.486.93 2.415 2.417 2.415m5.315-6.463v-2.97h-.005c-.044-3.266-1.67-5.46-4.337-5.98v-.81C9.01.622 8.436.05 7.735.05 7.033.05 6.46.624 6.46 1.325v.808c-2.667.52-4.294 2.716-4.338 5.98h-.005v2.972l-1.843 1.42v1.376h14.92v-1.375l-1.842-1.42z" fill="#fff"></path>
                        </svg>
                    </a>
                </li>
                <li class="upper-links dropdown"><a class="links" href="http://clashhacks.in/"><i class="fa fa-user"></i></a>
                    <ul class="dropdown-menu">
                        <li class="profile-li"><a class="profile-links" href="./Templates/profile.html">Profile</a></li>
                        <li class="profile-li"><a class="profile-links" href="./Templates/homepage.html">Log out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="row row2">
            <div class="col-sm-2">
                <h2 style="margin:0px;"><span class="smallnav menu" onclick="openNav()" style="color: pink">☰ More~Recipes</span></h2>
                <h1 style="margin:0px;"><span class="largenav" style="color: pink">More~recipes</span></h1>
            </div>
            <div class="flipkart-navbar-search smallsearch col-sm-8 col-xs-11">
                <div class="row">
                    <input class="flipkart-navbar-input col-xs-11" type="" placeholder="Discover Great Recipes" name="">
                    <button class="btn flipkart-navbar-button col-xs-1 searchbtn">
                        <i class='fa fa-search'></i>
                    </button>
                </div>
            </div>
               
            </div>
        </div>
    </div>
</div>
<div id="mySidenav" class="sidenav">
    <div class="container" style="background-color: pink; padding-top: 10px;">
        <span class="sidenav-heading">Categories</span>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    </div>
    <a href="#" class="sidenav-links">Breakfast</a>
    <a href="#" class="sidenav-links">Lunch</a>
    <a href="#" class="sidenav-links">Dinner</a>
    <a href="#" class="sidenav-links">Dessert</a>
    <a href="#" class="sidenav-links">Healthy</a>
    <a href="#" class="sidenav-links">Events</a>
    <li class="upper-links dropdown"><a class="links" href="http://clashhacks.in/"><i class="fa fa-user"></i></a>
        <ul class="dropdown-menu">
            <li class="profile-li"><a class="profile-links" href="#">sign up</a></li>
            <li class="profile-li"><a class="profile-links" href="#">sign in</a></li>
        </ul>
    </li>
</div>

<div class="views">
	<div class="favorites">
		<div class="view-heading">
	       <h4 style="margin-top: 2%">Most Popular</h4>
		</div>
		<div class="row favorite-recipes-catalog">
			<div class="col-xs-4">
      			<div class="thumbnail">
        			<a href="./Templates/productdetails.html"><img src="./Templates/images/image10.jpg" alt="Paris" data-toggle="modal" data-target="#myModal2"></a>
        			<p class='name-of-recipe'><strong>Chocolatey Mustard Cake</strong></p>
        			<p class='star-level'><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><span style="color: grey" class="num-of-reviews">4k</span></p>
        			<p class="description">A meal made at the right time is so good,yes<br> meal made at the right time is so good,yes<br> meal made at the right time is so good,yes<br> meal made at the right time is so good,yes</p>
        			<p class="owner-text">by Efosa Okpugie</p>
        			<p class='summary-of-recipe'></p>
      			</div>
    		</div>
    		<div class="col-xs-4">
      			<div class="thumbnail">
        			<a href="./Templates/productdetails.html"><img src="./Templates/images/image11.jpg" alt="Paris" data-toggle="modal" data-target="#myModal2"></a>
        			<p class='name-of-recipe'><strong>Grilled Sharwarma</strong></p>
        			<p class='star-level'><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><span style="color: grey" class="num-of-reviews">4k</span></p class='description'>
        			<p class="description">A meal made at the right time is so good,yes<br> meal made at the right time is so good,yes<br> meal made at the right time is so good,yes<br> meal made at the right time is so good,yes</p>
        			<p class="owner-text">by Efosa Okpugie</p>
        			<p class='summary-of-recipe'></p>
      			</div>
    		</div>
    		<div class="col-xs-4">
      			<div class="thumbnail">
        			<a href="./Templates/productdetails.html"><img src="./Templates/images/image12.jpg" alt="Paris" data-toggle="modal" data-target="#myModal2"></a>
        			<p class='name-of-recipe'><strong>Oreo Chocolate Messy Mun</strong></p>
        			<p class='star-level'><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><span style="color: grey" class="num-of-reviews">4k</span></p>
        			<p class="description">A meal made at the right time is so good,yes<br> meal made at the right time is so good,yes<br> meal made at the right time is so good,yes<br> meal made at the right time is so good,yes</p>
        			<p class="owner-text">by Efosa Okpugie</p>
        			<p class='summary-of-recipe'></p>
      			</div>
    		</div>
    		<div class="col-xs-4">
      			<div class="thumbnail">
        			<a href="./Templates/productdetails.html"><img src="./Templates/images/image7.jpg" alt="Paris"></a>
        			<p class='name-of-recipe'><strong>Kerishnan Poked Eggs</strong></p>
        			<p class='star-level'><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><span style="color: grey" class="num-of-reviews">4k</span></p>
        			<p class="description">A meal made at the right time is so good,yes<br> meal made at the right time is so good,yes<br> meal made at the right time is so good,yes<br> meal made at the right time is so good,yes</p>
        			<p class="owner-text">by Efosa Okpugie</p>
        			<p class='summary-of-recipe'></p>
      			</div>
    		</div>
    		<div class="col-xs-4">
      			<div class="thumbnail">
        			<a href="./Templates/productdetails.html"><img src="./Templates/images/image8.jpg" alt="Paris" data-toggle="modal" data-target="#myModal2"></a>
        			<p class='name-of-recipe'><strong>Choco Milky Drink</strong></p>
        			<p class='star-level'><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><span style="color: grey" class="num-of-reviews">4k</span></p>
        			<p class="description">A meal made at the right time is so good,yes<br> meal made at the right time is so good,yes<br> meal made at the right time is so good,yes<br> meal made at the right time is so good,yes</p>
        			<p class="owner-text">by Efosa Okpugie</p>
        			<p class='summary-of-recipe'></p>
      			</div>
    		</div>
    		<div class="col-xs-4">
      			<div class="thumbnail">
        			<a href="./Templates/productdetails.html"><img src="./Templates/images/image9.jpg" alt="Paris" data-toggle="modal" data-target="#myModal2"></a>
        			<p class='name-of-recipe'><strong>Toast grilled Cake</strong></p>
        			<p class='star-level'><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><span style="color: grey" class="num-of-reviews">4k</span></p>
        			<p class="description">A meal made at the right time is so good,yes<br> meal made at the right time is so good,yes<br> meal made at the right time is so good,yes<br> meal made at the right time is so good,yes</p>
        			<p class="owner-text">by Efosa Okpugie</p>
        			<p class='summary-of-recipe'></p>
        			<p class='summary-of-recipe'></p>
      			</div>
    		</div>
        </div>
    </div>

    <div class="deserts">
    	<div class="view-heading">
	       <h4 style="margin-top: 2%">Great Desserts</h4>
		</div>
		<div class="row desserts-catalog">
			<div class="col-xs-4">
      			<div class="thumbnail">
        			<a href="./Templates/productdetails.html"><img src="./Templates/images/image20.jpg" alt="Paris" data-toggle="modal" data-target="#myModal2"></a>
        			<p class='name-of-recipe'><strong>Toast grilled Cake</strong></p>
        			<p class='star-level'><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><span style="color: grey" class="num-of-reviews">4k</span></p>
        			<p class="description">A meal made at the right time is so good,yes<br> meal made at the right time is so good,yes<br> meal made at the right time is so good,yes<br> meal made at the right time is so good,yes</p>
        			<p class="owner-text">by Efosa Okpugie</p>
        			<p class='summary-of-recipe'></p>
        			<p class='summary-of-recipe'></p>
      			</div>
    		</div>
    		<div class="col-xs-4">
      			<div class="thumbnail">
        			<a href="./Templates/productdetails.html"><img src="./Templates/images/image21.jpg" alt="Paris" data-toggle="modal" data-target="#myModal2"></a>
        			<p class='name-of-recipe'><strong>Toast grilled Cake</strong></p>
        			<p class='star-level'><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><span style="color: grey" class="num-of-reviews">4k</span></p>
        			<p class="description">A meal made at the right time is so good,yes<br> meal made at the right time is so good,yes<br> meal made at the right time is so good,yes<br> meal made at the right time is so good,yes</p>
        			<p class="owner-text">by Efosa Okpugie</p>
        			<p class='summary-of-recipe'></p>
        			<p class='summary-of-recipe'></p>
      			</div>
    		</div>
    		<div class="col-xs-4">
      			<div class="thumbnail">
        			<a href="./Templates/productdetails.html"><img src="./Templates/images/image23.jpg" alt="Paris" data-toggle="modal" data-target="#myModal2"></a>
        			<p class='name-of-recipe'><strong>Toast grilled Cake</strong></p>
        			<p class='star-level'><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><span style="color: grey" class="num-of-reviews">4k</span></p>
        			<p class="description">A meal made at the right time is so good,yes<br> meal made at the right time is so good,yes<br> meal made at the right time is so good,yes<br> meal made at the right time is so good,yes</p>
        			<p class="owner-text">by Efosa Okpugie</p>
        			<p class='summary-of-recipe'></p>
      			</div>
    		</div>
    		<div class='see-moreh'>
    			<button class="btn see-more">more<i class="fa fa-angle-"></i></button>
    		</div>
		</div>
    </div>

    <div class="dinner">
    	<div class="view-heading">
	       <h4 style="margin-top: 2%">Great Dinner Ideas</h4>
		</div>
		<div class="row desserts-catalog">
			<div class="col-xs-4">
      			<div class="thumbnail">
        			<a href="./Templates/productdetails.html"><img src="./Templates/images/image20.jpg" alt="Paris" data-toggle="modal" data-target="#myModal2"></a>
        			<p class='name-of-recipe'><strong>Toast grilled Cake</strong></p>
        			<p class='star-level'><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><span style="color: grey" class="num-of-reviews">4k</span></p>
        			<p class="description">A meal made at the right time is so good,yes<br> meal made at the right time is so good,yes<br> meal made at the right time is so good,yes<br> meal made at the right time is so good,yes</p>
        			<p class="owner-text">by Efosa Okpugie</p>
        			<p class='summary-of-recipe'></p>
        			<p class='summary-of-recipe'></p>
      			</div>
    		</div>
    		<div class="col-xs-4">
      			<div class="thumbnail">
        			<a href="./Templates/productdetails.html"><img src="./Templates/images/image21.jpg" alt="Paris" data-toggle="modal" data-target="#myModal2"></a>
        			<p class='name-of-recipe'><strong>Toast grilled Cake</strong></p>
        			<p class='star-level'><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><span style="color: grey" class="num-of-reviews">4k</span></p>
        			<p class="description">A meal made at the right time is so good,yes<br> meal made at the right time is so good,yes<br> meal made at the right time is so good,yes<br> meal made at the right time is so good,yes</p>
        			<p class="owner-text">by Efosa Okpugie</p>
        			<p class='summary-of-recipe'></p>
        			<p class='summary-of-recipe'></p>
      			</div>
    		</div>
    		<div class="col-xs-4">
      			<div class="thumbnail">
        			<a href="./Templates/productdetails.html"><img src="./Templates/images/image23.jpg" alt="Paris" data-toggle="modal" data-target="#myModal2"></a>
        			<p class='name-of-recipe'><strong>Toast grilled Cake</strong></p>
        			<p class='star-level'><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><span style="color: grey" class="num-of-reviews">4k</span></p>
        			<p class="description">A meal made at the right time is so good,yes<br> meal made at the right time is so good,yes<br> meal made at the right time is so good,yes<br> meal made at the right time is so good,yes</p>
        			<p class="owner-text">by Efosa Okpugie</p>
        			<p class='summary-of-recipe'></p>
      			</div>
    		</div>
    		<div class='see-moreh'>
    			<button class="btn see-more">more<i class="fa fa-angle-"></i></button>
    		</div>
		</div>
    </div>
</div>

<div class="footer">
	<div class='search'>
		<div class="flipkart-navbar-search smallsearch">
                <div class="row">
                    <input class="flipkart-navbar-input footer-search" type="" placeholder="Discover More Recipes" name="">
                    <button class="btn flipkart-navbar-button searchbtn searchbtn-footer">
                        <i class='fa fa-search'></i>
                    </button>
                </div>
            </div>
	</div>
	
	<div class="row footer-one">
		<a href="#"><div class="col-xs-4 social-media-icons fa fa-twitter"></div></a>
		<a href="#"><div class="col-xs-4 social-media-icons fa fa-facebook"></div></a>
		<a href="#"><div class="col-xs-4 social-media-icons fa fa-google"></div></a>
		<a href="#"><div class="col-xs-4 social-media-icons fa fa-pinterest"></div></a>
		<a href="#"><div class="col-xs-4 social-media-icons fa fa-linkedin"></div></a>
	</div>

	<div class="copyright-text"><p class="text-center">All rights reserved &copy; More-recipes 2017.</p></div>

</div>
</div>
<script type="text/javascript">
	const openNav = () => {
    document.getElementById("mySidenav").style.width = "70%";
    // document.getElementById("flipkart-navbar").style.width = "50%";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
	}

    const closeNav = () => {
    document.getElementById("mySidenav").style.width = "0";
    document.body.style.backgroundColor = "rgba(0,0,0,0)";
	}
</script>
</body>
</html>