<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./css/userdashboard.css">
	<link rel="stylesheet" type="text/css" href="./css/yourrecipes.css">

	<!-- Bringing in external scripts -->
	<script type="text/javascript" src='/js/all.js'></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
	<div id="flipkart-navbar">
    <div class="container">
        <div class="row row1">
            <ul class="largenav pull-right">
                <li class="upper-links"><a class="links" href="">Breakfast</a></li>
                <li class="upper-links"><a class="links" href="">Lunch</a></li>
                <li class="upper-links"><a class="links" href="">Dinner</a></li>
                <li class="upper-links"><a class="links" href="">Dessert</a></li>
                <li class="upper-links"><a class="links" href="">Healthy</a></li>
                <li class="upper-links"><a class="links" href="./profile.html">Profile</a></li>
                <li class="upper-links"><a class="links" href="../index.html">Log out</a></li> 
                </li>
            </ul>
        </div>
        <div class="row row2">
            <div class="col-sm-2">
               <a href="../index.html"> <h2 style="margin:0px;"><span class="smallnav menu" onclick="openNav()" style="color: pink">☰ More~Recipes</span></h2></a>
                <a href="../index.html"><h1 style="margin:0px;"><span class="largenav" style="color: pink">More~recipes</span></h1></a>
            </div>
            <div class="flipkart-navbar-search smallsearch col-sm-8 col-xs-11">
                <div class="row">
                    <input class="flipkart-navbar-input col-xs-11" type="" placeholder="Discover Great Recipes" name="">
                    <button class="btn flipkart-navbar-button col-xs-1 searchbtn">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
               
            </div>
        </div>
    </div>
</div>
<div id="mySidenav" class="sidenav">
    <div class="container" style="background-color: pink; padding-top: 10px;">
        <span class="sidenav-heading">Categories</span>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    </div>
    <a href="#" class="sidenav-links">Breakfast</a>
    <a href="#" class="sidenav-links">Lunch</a>
    <a href="#" class="sidenav-links">Dinner</a>
    <a href="#" class="sidenav-links">Dessert</a>
    <a href="#" class="sidenav-links">Healthy</a>
    <a href="#" class="sidenav-links">Events</a>
    <li class="upper-links dropdown"><a class="links" href=""><i class="fa fa-user"></i></a>
        <ul class="dropdown-menu">
        	<li class="profile-li"><a class="profile-links" href="./profile.html">profile</a></li>
            <li class="profile-li"><a class="profile-links" href="../index.html">Logout</a></li>
        </ul>
    </li>
</div>

<h3 class="text-center">Your Recipes</h3>
<div class="recipes-catalog">
	<div class="row favorite-recipes-catalog">
			<div class="col-xs-4">
      			<div class="thumbnail">
        			<a href="./productdetails.html"><img src="./images/image10.jpg" alt="Paris" data-toggle="modal" data-target="#myModal2"></a>
        			<p class='name-of-recipe'><strong>Chocolatey Mustard Cake</strong></p>
        			<p class='star-level'><i class="fa fa-thumbs-up">50</i><i class="fa fa-thumbs-down">10</i><i class="fa fa-eye">4K</i></p>
        			<div class='action-buttons btn btn-group-sm'>
        				<button class="btn btn-primary btn-group">Modify</button><button class="btn btn-danger btn-group">Delete</button>
        			</div>
        			<p class='summary-of-recipe'></p>
      			</div>
    		</div>
    		<div class="col-xs-4">
      			<div class="thumbnail">
        			<a href="./productdetails.html"><img src="./images/imaage11.jpg" alt="Paris" data-toggle="modal" data-target="#myModal2"></a>
        			<p class='name-of-recipe'><strong>Grilled Sharwarma</strong></p>
        			<p class='star-level'><i class="fa fa-thumbs-up">50</i><i class="fa fa-thumbs-down">10</i><i class="fa fa-eye">4K</i></p>></p class='description'>
        			<div class='action-buttons btn btn-group-sm'>
        				<button class="btn btn-primary btn-group">Modify</button><button class="btn btn-danger btn-group">Delete</button>
        			</div>
        			<p class='summary-of-recipe'></p>
      			</div>
    		</div>
    		<div class="col-xs-4">
      			<div class="thumbnail">
        			<a href="./productdetails.html"><img src="./images/image12.jpg" alt="Paris" data-toggle="modal" data-target="#myModal2"></a>
        			<p class='name-of-recipe'><strong>Oreo Chocolate Messy Mun</strong></p>
        			<p class='star-level'><i class="fa fa-thumbs-up">50</i><i class="fa fa-thumbs-down">10</i><i class="fa fa-eye">4K</i></p>
        			<div class='action-buttons btn btn-group-sm'>
        				<button class="btn btn-primary btn-group">Modify</button><button class="btn btn-danger btn-group">Delete</button>
        			</div>
        			<p class='summary-of-recipe'></p>
      			</div>
    		</div>
    		<div class="col-xs-4">
      			<div class="thumbnail">
        			<a href="./productdetails.html"><img src="./images/image18.jpg" alt="Paris"></a>
        			<p class='name-of-recipe'><strong>Kerishnan Poked Eggs</strong></p><p class='star-level'><i class="fa fa-thumbs-up">50</i><i class="fa fa-thumbs-down">10</i><i class="fa fa-eye">4K</i></p>
        			<div class='action-buttons btn btn-group-sm'>
        				<button class="btn btn-primary btn-group">Modify</button><button class="btn btn-danger btn-group">Delete</button>
        			</div>
        			<p class='summary-of-recipe'></p>
      			</div>
    		</div>
    		<div class="col-xs-4">
      			<div class="thumbnail">
        			<a href="./productdetails.html"><img src="./images/image19.jpg" alt="Paris" data-toggle="modal" data-target="#myModal2"></a>
        			<p class='name-of-recipe'><strong>Choco Milky Drink</strong></p>
        			<p class='star-level'><i class="fa fa-thumbs-up">50</i><i class="fa fa-thumbs-down">10</i><i class="fa fa-eye">4K</i></p>
        			<div class='action-buttons btn btn-group-sm'>
        				<button class="btn btn-primary btn-group">Modify</button><button class="btn btn-danger btn-group">Delete</button>
        			</div>
        			<p class='summary-of-recipe'></p>
      			</div>
    		</div>
    		<div class="col-xs-4">
      			<div class="thumbnail">
        			<a href="./productdetails.html"><img src="./images/image12.jpg" alt="Paris" data-toggle="modal" data-target="#myModal2"></a>
        			<p class='name-of-recipe'><strong>Oreo Chocolate Messy Mun</strong></p>
        			<p class='star-level'><i class="fa fa-thumbs-up">50</i><i class="fa fa-thumbs-down">10</i><i class="fa fa-eye">4K</i></p>
        			<div class='action-buttons btn btn-group-sm'>
        				<button class="btn btn-primary btn-group">Modify</button><button class="btn btn-danger btn-group">Delete</button>
        			</div>
        			<p class='summary-of-recipe'></p>
      			</div>
    		</div>
    	</div>

<div class='remove favorite'>
	<div class="row favorite-recipes-catalog">
			<div class="col-xs-4">
      			<div class="thumbnail">
        			<a href="./productdetails.html"><img src="./images/image10.jpg" alt="Paris" data-toggle="modal" data-target="#myModal2"></a>
        			<p class='name-of-recipe'><strong>Chocolatey Mustard Cake</strong></p>
        			<p class='star-level'><i class="fa fa-thumbs-up">50</i><i class="fa fa-thumbs-down">10</i><i class="fa fa-eye">4K</i></p>
        			<div class='action-buttons btn btn-group-sm'>
        				<button class="btn btn-primary btn-group">Remove from favorites</button>
        			</div>
        			<p class='summary-of-recipe'></p>
      			</div>
    		</div>
    		<div class="col-xs-4">
      			<div class="thumbnail">
        			<a href="./productdetails.html"><img src="./images/imaage11.jpg" alt="Paris" data-toggle="modal" data-target="#myModal2"></a>
        			<p class='name-of-recipe'><strong>Grilled Sharwarma</strong></p>
        			<p class='star-level'><i class="fa fa-thumbs-up">50</i><i class="fa fa-thumbs-down">10</i><i class="fa fa-eye">4K</i></p></p class='description'>
        			<div class='action-buttons btn btn-group-sm'>
        				<button class="btn btn-primary btn-group">Remove from favorites</button>
        			</div>
        			<p class='summary-of-recipe'></p>
      			</div>
    		</div>
    		<div class="col-xs-4">
      			<div class="thumbnail">
        			<a href="./productdetails.html"><img src="./images/image12.jpg" alt="Paris" data-toggle="modal" data-target="#myModal2"></a>
        			<p class='name-of-recipe'><strong>Oreo Chocolate Messy Mun</strong></p>
        			<p class='star-level'><i class="fa fa-thumbs-up">50</i><i class="fa fa-thumbs-down">10</i><i class="fa fa-eye">4K</i></p>
        			<div class='action-buttons btn btn-group-sm'>
        				<button class="btn btn-primary btn-group">Remove from favorites</button>
        			</div>
        			<p class='summary-of-recipe'></p>
      			</div>
    		</div>
</div>
</div>
    	<h3 class='text-center'> Add a recipe</h3>
    	<div class="add-recipe">
    		<form class="form-control">
    			<input type="text" name="title-of-recipe" class="form-control" placeholder='title of recipe'>
    			<br>
    			<input type="text" name="ingredients" class='form-control' placeholder="Ingredients">
    			<br>
    			<textarea class="form-control" placeholder="description"></textarea>
    			<br>
    			<button class="btn btn-primary">UPLOAD<i class='fa fa-upload'></i></button>
    			<br>
    			<br>
    			<button class="btn btn-success">Add recipe</button>
    		</form>
    	</div>
<div class="footer" style="margin-bottom: -10%">

	<div class="copyright-text"><p class="text-center">All rights reserved &copy; More-recipes 2017.</p></div>

</div>
</div>
<script type="text/javascript">
	const openNav = () => {
    document.getElementById("mySidenav").style.width = "70%";
    // document.getElementById("flipkart-navbar").style.width = "50%";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
	}

    const closeNav = () => {
    document.getElementById("mySidenav").style.width = "0";
    document.body.style.backgroundColor = "rgba(0,0,0,0)";
	}
</script>
</body>
</html>